In [1]:
import pandas as pd
import os

In [2]:
source_dir = '..\\Data\\Source\\Donan-Bus\\202104'

In [3]:
stops = pd.read_csv(os.path.join(source_dir, 'stops.txt'))
stop_times = pd.read_csv(os.path.join(source_dir, 'stop_times.txt'))
trips = pd.read_csv(os.path.join(source_dir, 'trips.txt'))

In [4]:
stop_times['arrival_time'] = pd.to_datetime(stop_times['arrival_time'], format='%H:%M:%S')
stop_times['departure_time'] = pd.to_datetime(stop_times['departure_time'], format='%H:%M:%S')

In [5]:
route_group = trips.groupby(['route_id'])

In [6]:
route_group.groups.keys()

dict_keys(['げんき館ターミナル線_A', 'げんき館地球岬団地線_A', 'げんき館資料館線_A', 'すずかけ線_A', 'はまなす団地線_A', 'みたら・水族館前地球岬団地線_A', 'みたら・水族館前地球岬団地線_B', 'みたら・水族館前工大線(120000)', 'みたら・水族館前工大線(120200)', 'みたら・水族館前東室蘭駅東口線_A', 'みたら・水族館前東室蘭駅東口線_B', 'みたら・水族館前東室蘭駅東口線_C', 'ろう学校線_A', 'カルルス線_A', 'グリーンヒル団地線_A', 'ターミナル工大線_A', 'ターミナル工大線_B', 'ターミナル資料館線_A', 'ターミナル資料館線_B', 'フェリー・工大・ろう学校線_A', 'フェリー・工大・ろう学校線_B', 'フェリー工大線_A', 'フェリー線_A', 'フェリー資料館線(101110)', 'フェリー～伊達～洞爺湖温泉_A', '中央町工大循環線_A', '中央町工大循環線_B', '中島町資料館線_A', '伊達市内循環バス_A', '伊達市内循環バス_B', '倶知安～ニセコ～樺山小_A', '倶知安～京極・喜茂別～伊達_A', '倶知安～京極・喜茂別～伊達_B', '倶知安～東小・大和～倶知安_A', '倶知安～真狩・留寿都～洞爺湖温泉_A', '勇払線_A', '勇舞空港線_A', '千代の台線_A', '千代の台線_B', '啓北山手線(801810)', '室蘭フェリー～登別温泉(250400)', '室蘭フェリー～登別温泉(250410)', '室蘭フェリー～登別温泉_A', '室蘭フェリー～登別温泉_B', '室蘭市民会館線_A', '宮の森線_A', '川沿ときわ線_A', '市立病院港町循環線_A', '幌別駅線(104100)', '幌別駅線_A', '循環_A', '日の出町線_A', '日新国道線_A', '日高～振内案内所～平取～富川高校_A', '日高～振内案内所～平取～富川高校_B', '有珠の沢線_A', '札幌～洞爺湖温泉・豊浦_A', '東室蘭駅東口地球岬団地線_A', '東町～洞爺湖温泉～洞爺駅前～総合福祉会館・豊浦_A', '永福三条線_A', '沼ノ端線_A', '洞爺湖温泉・豊浦～伊達_A', '洞爺湖温泉～月浦・壮瞥～洞爺水の駅_A', '洞爺湖温泉～月浦・壮瞥～洞爺水の駅_B', '港北柏木線_A', '澄川錦岡線_A', '登別温泉－苫小牧_A', '登別駅前～登別温泉・足湯入口_A', '登別駅前～登別温泉・足湯入口_B', '穂別鵡川線_A', '緑泉郷－苫小牧・新千歳空港_A', '苫小牧・平取線_A', '苫小牧・静内線_A', '苫小牧・静内線_B', '苫小牧－新千歳空港_A', '苫東工業基地線_A', '資料館・若山営業所～登別温泉_A', '鉄北北口線_A', '錦岡線_A', '錦西光洋線_A', '錦西文化公園線_A', '静内駅～平取_A', '静内駅～浦河_A', '静内駅～農屋_A', '養護学校線_A', '高速おんせん号_A', '高速はやぶさ号_A', '高速ハスカップ号_A', '高速ペガサス号_A', '高速室蘭サッカー号_A', '高速登別温泉エアポート号_A', '高速登別温泉エアポート号_B', '高速白鳥号_A'])

In [7]:
route_1 = '中央町工大循環線_A'
route_2 = '中央町工大循環線_B'

In [8]:
trips_1 = trips[(trips['route_id'] == route_1)]
trips_2 = trips[(trips['route_id'] == route_2)]
trips_1 = trips_1[trips_1['service_id'] == '平日']
trips_2 = trips_2[trips_2['service_id'] == '平日']

In [9]:
first_trip_1 = trips_1.head(1)
first_trip_2 = trips_2.head(1)

In [10]:
first_trip_1_id = list(first_trip_1['trip_id'])[0]
first_trip_2_id = list(first_trip_2['trip_id'])[0]

In [11]:
trip1_stop_times = stop_times[stop_times['trip_id'] == first_trip_1_id]
trip2_stop_times = stop_times[stop_times['trip_id'] == first_trip_2_id]

In [12]:
trip1_01 = trip1_stop_times[['arrival_time', 'departure_time', 'stop_id', 'stop_sequence']].copy()
trip1_01['next_stop_sequence'] = trip1_01['stop_sequence'] + 1

In [13]:
trip1_02 = pd.merge(trip1_01, trip1_01, left_on='next_stop_sequence', right_on='stop_sequence')
trip1_03 = trip1_02[['departure_time_x', 'stop_id_x', 'stop_id_y', 'stop_sequence_x', 'arrival_time_y']]
trip1_03.columns = ['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time']
trip1_03['time_diff'] = trip1_03['arrival_time'] - trip1_03['departure_time']
trip1_03['arrival_time'] = trip1_03['arrival_time'].dt.time
trip1_03['departure_time'] = trip1_03['departure_time'].dt.time

<ipython-input-13-d45e56ca4409>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip1_03['time_diff'] = trip1_03['arrival_time'] - trip1_03['departure_time']
<ipython-input-13-d45e56ca4409>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip1_03['arrival_time'] = trip1_03['arrival_time'].dt.time
<ipython-input-13-d45e56ca4409>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip1_03['departure_time'] = trip1_03['departure_time'].dt.time

In [14]:
trip1_03

,departure_time,from_stop_id,to_stop_id,stop_sequence,arrival_time,time_diff
0,07:04:00,122_01,123_01,1,07:04:00,0 days 00:00:00
1,07:04:00,123_01,121_01,2,07:05:00,0 days 00:01:00
2,07:05:00,121_01,81_03,3,07:07:00,0 days 00:02:00
3,07:07:00,81_03,82_02,4,07:08:00,0 days 00:01:00
4,07:08:00,82_02,115_01,5,07:09:00,0 days 00:01:00
...,...,...,...,...,...,...
71,08:35:00,141_02,112_01,72,08:38:00,0 days 00:03:00
72,08:38:00,112_01,114_01,73,08:39:00,0 days 00:01:00
73,08:39:00,114_01,113_01,74,08:40:00,0 days 00:01:00
74,08:40:00,113_01,111_01,75,08:41:00,0 days 00:01:00
75,08:41:00,111_01,101_01,76,08:52:00,0 days 00:11:00

In [15]:
stop_names = stops[['stop_id', 'stop_name']]

In [16]:
trip1_04 = pd.merge(trip1_03, stop_names, left_on='from_stop_id', right_on='stop_id')
trip1_05 = trip1_04[['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_diff', 'stop_name']]
trip1_05.columns = ['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_diff', 'from_stop_name']
trip1_06 = pd.merge(trip1_05, stop_names, left_on='to_stop_id', right_on='stop_id')
trip1_07 = trip1_06[['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_diff', 'from_stop_name', 'stop_name']]
trip1_07.columns = ['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_difff', 'from_stop_name', 'to_stop_name']

In [17]:
trip2_01 = trip2_stop_times[['arrival_time', 'departure_time', 'stop_id', 'stop_sequence']].copy()
trip2_01['next_stop_sequence'] = trip2_01['stop_sequence'] + 1

In [18]:
trip2_02 = pd.merge(trip2_01, trip2_01, left_on='next_stop_sequence', right_on='stop_sequence')
trip2_03 = trip2_02[['departure_time_x', 'stop_id_x', 'stop_id_y', 'stop_sequence_x', 'arrival_time_y']]
trip2_03.columns = ['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time']
trip2_03['time_diff'] = trip2_03['arrival_time'] - trip2_03['departure_time']
trip2_03['arrival_time'] = trip2_03['arrival_time'].dt.time
trip2_03['departure_time'] = trip2_03['departure_time'].dt.time

<ipython-input-18-81e94effef99>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip2_03['time_diff'] = trip2_03['arrival_time'] - trip2_03['departure_time']
<ipython-input-18-81e94effef99>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip2_03['arrival_time'] = trip2_03['arrival_time'].dt.time
<ipython-input-18-81e94effef99>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip2_03['departure_time'] = trip2_03['departure_time'].dt.time

In [19]:
trip2_03

,departure_time,from_stop_id,to_stop_id,stop_sequence,arrival_time,time_diff
0,06:55:00,391_02,726_02,1,06:55:00,0 days 00:00:00
1,06:55:00,726_02,725_02,2,06:56:00,0 days 00:01:00
2,06:56:00,725_02,724_02,3,06:57:00,0 days 00:01:00
3,06:57:00,724_02,723_02,4,06:57:00,0 days 00:00:00
4,06:57:00,723_02,722_02,5,06:58:00,0 days 00:01:00
5,06:58:00,722_02,721_02,6,06:58:00,0 days 00:00:00
6,06:58:00,721_02,711_02,7,06:59:00,0 days 00:01:00
7,06:59:00,711_02,691_02,8,07:00:00,0 days 00:01:00
8,07:00:00,691_02,681_02,9,07:03:00,0 days 00:03:00
9,07:03:00,681_02,730_02,10,07:04:00,0 days 00:01:00
10,07:04:00,730_02,731_02,11,07:05:00,0 days 00:01:00
11,07:05:00,731_02,781_02,12,07:07:00,0 days 00:02:00
12,07:07:00,781_02,771_02,13,07:08:00,0 days 00:01:00
13,07:08:00,771_02,241_02,14,07:10:00,0 days 00:02:00
14,07:10:00,241_02,231_02,15,07:12:00,0 days 00:02:00
15,07:12:00,231_02,221_02,16,07:13:00,0 days 00:01:00
16,07:13:00,221_02,211_02,17,07:17:00,0 days 00:04:00
17,07:17:00,211_02,201_02,18,07:18:00,0 days 00:01:00
18,07:18:00,201_02,182_02,19,07:19:00,0 days 00:01:00
19,07:19:00,182_02,181_02,20,07:20:00,0 days 00:01:00
20,07:20:00,181_02,179_02,21,07:21:00,0 days 00:01:00
21,07:21:00,179_02,178_02,22,07:24:00,0 days 00:03:00
22,07:24:00,178_02,177_02,23,07:24:00,0 days 00:00:00
23,07:24:00,177_02,176_02,24,07:25:00,0 days 00:01:00
24,07:25:00,176_02,175_02,25,07:25:00,0 days 00:00:00
25,07:25:00,175_02,174_02,26,07:26:00,0 days 00:01:00
26,07:26:00,174_02,173_02,27,07:27:00,0 days 00:01:00
27,07:27:00,173_02,172_02,28,07:27:00,0 days 00:00:00
28,07:27:00,172_02,171_02,29,07:29:00,0 days 00:02:00
29,07:29:00,171_02,170_02,30,07:29:00,0 days 00:00:00
30,07:29:00,170_02,151_02,31,07:31:00,0 days 00:02:00
31,07:31:00,151_02,142_02,32,07:31:00,0 days 00:00:00
32,07:31:00,142_02,141_02,33,07:32:00,0 days 00:01:00
33,07:32:00,141_02,112_01,34,07:35:00,0 days 00:03:00
34,07:35:00,112_01,114_01,35,07:36:00,0 days 00:01:00
35,07:36:00,114_01,113_01,36,07:37:00,0 days 00:01:00
36,07:37:00,113_01,111_01,37,07:38:00,0 days 00:01:00
37,07:38:00,111_01,101_01,38,07:49:00,0 days 00:11:00

In [20]:
stop_names = stops[['stop_id', 'stop_name']]

In [21]:
trip2_04 = pd.merge(trip2_03, stop_names, left_on='from_stop_id', right_on='stop_id')
trip2_05 = trip2_04[['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_diff', 'stop_name']]
trip2_05.columns = ['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_diff', 'from_stop_name']
trip2_06 = pd.merge(trip2_05, stop_names, left_on='to_stop_id', right_on='stop_id')
trip2_07 = trip2_06[['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_diff', 'from_stop_name', 'stop_name']]
trip2_07.columns = ['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_difff', 'from_stop_name', 'to_stop_name']

In [22]:
trip1_07

,departure_time,from_stop_id,to_stop_id,stop_sequence,arrival_time,time_difff,from_stop_name,to_stop_name
0,07:04:00,122_01,123_01,1,07:04:00,0 days 00:00:00,室蘭フェリーターミナル,入江臨海公園
1,07:04:00,123_01,121_01,2,07:05:00,0 days 00:01:00,入江臨海公園,市港湾部前
2,07:05:00,121_01,81_03,3,07:07:00,0 days 00:02:00,市港湾部前,室蘭観光協会前
3,07:07:00,81_03,82_02,4,07:08:00,0 days 00:01:00,室蘭観光協会前,室蘭駅前
4,07:08:00,82_02,115_01,5,07:09:00,0 days 00:01:00,室蘭駅前,千歳交差点
...,...,...,...,...,...,...,...,...
71,08:35:00,141_02,112_01,72,08:38:00,0 days 00:03:00,ＮＨＫ前,市役所前
72,08:38:00,112_01,114_01,73,08:39:00,0 days 00:01:00,市役所前,市立病院前
73,08:39:00,114_01,113_01,74,08:40:00,0 days 00:01:00,市立病院前,市役所北
74,08:40:00,113_01,111_01,75,08:41:00,0 days 00:01:00,市役所北,小公園前
75,08:41:00,111_01,101_01,76,08:52:00,0 days 00:11:00,小公園前,中央町

In [23]:
trip2_07

,departure_time,from_stop_id,to_stop_id,stop_sequence,arrival_time,time_difff,from_stop_name,to_stop_name
0,06:55:00,391_02,726_02,1,06:55:00,0 days 00:00:00,工大,水元団地
1,06:55:00,726_02,725_02,2,06:56:00,0 days 00:01:00,水元団地,変電所前
2,06:56:00,725_02,724_02,3,06:57:00,0 days 00:01:00,変電所前,清滝不動尊前
3,06:57:00,724_02,723_02,4,06:57:00,0 days 00:00:00,清滝不動尊前,天神町
4,06:57:00,723_02,722_02,5,06:58:00,0 days 00:01:00,天神町,知利別会館前
5,06:58:00,722_02,721_02,6,06:58:00,0 days 00:00:00,知利別会館前,知利別郵便局前
6,06:58:00,721_02,711_02,7,06:59:00,0 days 00:01:00,知利別郵便局前,知利別２丁目
7,06:59:00,711_02,691_02,8,07:00:00,0 days 00:01:00,知利別２丁目,知利別１丁目
8,07:00:00,691_02,681_02,9,07:03:00,0 days 00:03:00,知利別１丁目,東通
9,07:03:00,681_02,730_02,10,07:04:00,0 days 00:01:00,東通,中島町１丁目
10,07:04:00,730_02,731_02,11,07:05:00,0 days 00:01:00,中島町１丁目,仲通
11,07:05:00,731_02,781_02,12,07:07:00,0 days 00:02:00,仲通,中島入口
12,07:07:00,781_02,771_02,13,07:08:00,0 days 00:01:00,中島入口,中島新町
13,07:08:00,771_02,241_02,14,07:10:00,0 days 00:02:00,中島新町,太平橋
14,07:10:00,241_02,231_02,15,07:12:00,0 days 00:02:00,太平橋,東町２丁目
15,07:12:00,231_02,221_02,16,07:13:00,0 days 00:01:00,東町２丁目,東町中央
16,07:13:00,221_02,211_02,17,07:17:00,0 days 00:04:00,東町中央,東町ターミナル
17,07:17:00,211_02,201_02,18,07:18:00,0 days 00:01:00,東町ターミナル,汐見
18,07:18:00,201_02,182_02,19,07:19:00,0 days 00:01:00,汐見,末広
19,07:19:00,182_02,181_02,20,07:20:00,0 days 00:01:00,末広,日本製鉄球場前
20,07:20:00,181_02,179_02,21,07:21:00,0 days 00:01:00,日本製鉄球場前,輪西九条通
21,07:21:00,179_02,178_02,22,07:24:00,0 days 00:03:00,輪西九条通,日本製鉄前
22,07:24:00,178_02,177_02,23,07:24:00,0 days 00:00:00,日本製鉄前,輪西駅前
23,07:24:00,177_02,176_02,24,07:25:00,0 days 00:01:00,輪西駅前,大沢１丁目
24,07:25:00,176_02,175_02,25,07:25:00,0 days 00:00:00,大沢１丁目,トヨタ前
25,07:25:00,175_02,174_02,26,07:26:00,0 days 00:01:00,トヨタ前,鉄原前
26,07:26:00,174_02,173_02,27,07:27:00,0 days 00:01:00,鉄原前,御崎駅前
27,07:27:00,173_02,172_02,28,07:27:00,0 days 00:00:00,御崎駅前,御崎アパート前
28,07:27:00,172_02,171_02,29,07:29:00,0 days 00:02:00,御崎アパート前,御前水
29,07:29:00,171_02,170_02,30,07:29:00,0 days 00:00:00,御前水,ラッパ森
30,07:29:00,170_02,151_02,31,07:31:00,0 days 00:02:00,ラッパ森,母恋駅前
31,07:31:00,151_02,142_02,32,07:31:00,0 days 00:00:00,母恋駅前,日鋼記念病院前
32,07:31:00,142_02,141_02,33,07:32:00,0 days 00:01:00,日鋼記念病院前,ＮＨＫ前
33,07:32:00,141_02,112_01,34,07:35:00,0 days 00:03:00,ＮＨＫ前,市役所前
34,07:35:00,112_01,114_01,35,07:36:00,0 days 00:01:00,市役所前,市立病院前
35,07:36:00,114_01,113_01,36,07:37:00,0 days 00:01:00,市立病院前,市役所北
36,07:37:00,113_01,111_01,37,07:38:00,0 days 00:01:00,市役所北,小公園前
37,07:38:00,111_01,101_01,38,07:49:00,0 days 00:11:00,小公園前,中央町