In [1]:
import pandas as pd
import os

In [2]:
source_dir = '..\\Data\\Source\\chuo'

In [3]:
stops = pd.read_csv(os.path.join(source_dir, 'stops.txt'))
stop_times = pd.read_csv(os.path.join(source_dir, 'stop_times.txt'))
trips = pd.read_csv(os.path.join(source_dir, 'trips.txt'))

D:\Apps\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
stop_times['arrival_time'] = pd.to_datetime(stop_times['arrival_time'], format='%H:%M:%S')
stop_times['departure_time'] = pd.to_datetime(stop_times['departure_time'], format='%H:%M:%S')

In [5]:
route_group = trips.groupby(['route_id'])

In [6]:
route_group.groups.keys()

dict_keys(['R010200001000000', 'R010200002000000', 'R010200002010000', 'R010200003000000', 'R010200003010000', 'R010200004000000', 'R010200004010000', 'R010200005000000', 'R010200006000000', 'R010200006020000', 'R010200007000000', 'R010200007010000', 'R010200009000000', 'R010200009010000', 'R010200010000000', 'R010200010010000', 'R010200011000000', 'R010200011010000', 'R010200012000000', 'R010200012010000', 'R010200012020000', 'R010200012030000', 'R010200013000000', 'R010200013010000', 'R010200014000000', 'R010200014010000', 'R010200015000000', 'R010200015010000', 'R010200016000000', 'R010200016010000', 'R010200017000000', 'R010200017010000', 'R010200017020000', 'R010200017030000', 'R010200018010000', 'R010200018020000', 'R010200019000000', 'R010200019010000', 'R010200020000000', 'R010200020010000', 'R010200021010000', 'R010200021020000', 'R010200022010000', 'R010200022020000', 'R010200023000000', 'R010200023010000', 'R010200024000000', 'R010200024010000', 'R010200025000000', 'R010200026000000', 'R010200026010000', 'R010200027000000', 'R010200027010000', 'R010200028000000', 'R010200028010000', 'R010200029000000', 'R010200029010000', 'R010200030000000', 'R010200030010000', 'R010200031000000', 'R010200032000000', 'R010200032010000', 'R010200033000000', 'R010200034000000', 'R010200034010000', 'R010200035000000', 'R010200035010000', 'R010200036000000', 'R010200036010000', 'R010200037000000', 'R010200037010000', 'R010200037020000', 'R010200038000000', 'R010200038010000', 'R010200040000000', 'R010200040010000', 'R010200041000000', 'R010200041010000', 'R010200041020000', 'R010200041030000', 'R010200042000000', 'R010200042010000', 'R010200043000000', 'R010200044000000', 'R010200044010000', 'R010200045000000', 'R010200046000000', 'R010200046010000', 'R010200047000000', 'R010200047010000', 'R010200047020000', 'R010200047030000', 'R010200048000000', 'R010200049000000', 'R010200050000000', 'R010200050010000', 'R010200051000000', 'R010200051010000', 'R010200052000000', 'R010200053000000', 'R010200053010000', 'R010200054000000', 'R010200054010000', 'R010200054020000', 'R010200055000000', 'R010200055010000', 'R010200056000000', 'R010200056010000', 'R010200057000000', 'R010200057010000', 'R010200058000000', 'R010200058010000', 'R010200059000000', 'R010200059010000', 'R010200059020000', 'R010200060000000', 'R010200060010000', 'R010200060020000', 'R010200060030000', 'R010200061000000', 'R010200061010000', 'R010200062000000', 'R010200062010000', 'R010200063000000', 'R010200063010000', 'R010200063020000', 'R010200064000000', 'R010200064010000', 'R010200065000000', 'R010200065010000', 'R010200065020000', 'R010200065030000', 'R010200065040000', 'R010200065050000', 'R010200065060000', 'R010200065070000', 'R010200066000000', 'R010200066010000', 'R010200067000000', 'R010200067010000', 'R010200067020000', 'R010200067030000', 'R010200068000000', 'R010200068010000', 'R010200068020000', 'R010200068030000', 'R010200069000000', 'R010200069010000', 'R010200069020000', 'R010200069030000', 'R010200070000000', 'R010200071000000', 'R010200071010000', 'R010200072000000', 'R010200073000000', 'R010200073010000', 'R010200073020000', 'R010200073030000', 'R010200074000000', 'R010200074010000', 'R010200075000000', 'R010200075010000', 'R010200075020000', 'R010200075030000', 'R010200076000000', 'R010200076010000', 'R010200077000000', 'R010200078000000', 'R010200079000000', 'R010200079010000', 'R010200080000000', 'R010200080010000', 'R010200081000000', 'R010200081010000', 'R010200082000000', 'R010200083000000', 'R010200083010000', 'R010200084000000', 'R010200084010000', 'R010200085000000', 'R010200085010000', 'R010200086000000', 'R010200086010000', 'R010200087000000', 'R010200087010000', 'R010200088000000', 'R010200089000000', 'R010200089010000', 'R010200090000000', 'R010200090010000', 'R010200091000000', 'R010200091010000', 'R010200092000000', 'R010200092010000', 'R010200093000000', 'R010200094000000', 'R010200094010000', 'R010200095000000', 'R010200095010000', 'R010200096000000', 'R010200096010000', 'R010200097000000', 'R010200097010000', 'R010200098000000', 'R010200098010000', 'R010200099000000', 'R010200099010000', 'R010200099020000', 'R010200099030000', 'R010200100000000', 'R010200101000000', 'R010200101010000', 'R010200103000000', 'R010200104000000', 'R010200104010000', 'R010200105000000', 'R010200105010000', 'R010200105020000', 'R010200105030000', 'R010200106000000', 'R010200107000000', 'R010200107010000', 'R010200108000000', 'R010200108010000', 'R010200108020000', 'R010200108030000', 'R010200109010000', 'R010200110010000', 'R010200112000000', 'R010200112010000', 'R010200113000000', 'R010200113010000', 'R010200114000000', 'R010200114010000', 'R010200115000000', 'R010200115010000', 'R010200116000000', 'R010200116010000', 'R010200116030000', 'R010200116040000', 'R010200117000000', 'R010200117010000', 'R010200117020000', 'R010200117030000', 'R010200119000000', 'R010200120000000', 'R010200121000000', 'R010200121010000', 'R010200122000000', 'R010200123000000', 'R010200124000000', 'R010200124010000', 'R010200125000000', 'R010200125010000', 'R010200126000000', 'R010200126010000', 'R010200127000000', 'R010200127010000', 'R010200128000000', 'R010200128010000', 'R010200129000000', 'R010200129010000', 'R010200130000000', 'R010200131000000', 'R010200131010000', 'R010200131020000', 'R010200131030000', 'R010200131040000', 'R010200131050000', 'R010200131060000', 'R010200132010000', 'R010200132020000', 'R010200132030000', 'R010200132040000', 'R010200132050000', 'R010200132060000', 'R010200132070000', 'R010200132080000', 'R010200132090000', 'R010200134000000', 'R010200134010000', 'R010200136000000', 'R010200137000000', 'R010200138000000', 'R010200139000000', 'R010200139010000', 'R010200139020000', 'R010200139030000', 'R010200140000000', 'R010200140010000', 'R010200140020000', 'R010200141000000', 'R010200141010000', 'R010200142000000', 'R010200142010000', 'R010200143000000', 'R010200143010000', 'R010200143020000', 'R010200143030000', 'R010200144000000', 'R010200144010000', 'R010200145000000', 'R010200145010000', 'R010200146000000', 'R010200146010000', 'R010200147000000', 'R010200147010000', 'R010200147020000', 'R010200147030000', 'R010200148000000', 'R010200148010000', 'R010200149000000', 'R010200149010000', 'R010200150000000', 'R010200150010000', 'R010200150020000', 'R010200150030000', 'R010200151000000', 'R010200151010000', 'R010200153000000', 'R010200154000000', 'R010200154010000', 'R010200155000000', 'R010200155010000', 'R010200156000000', 'R010200156010000', 'R010200157000000', 'R010200157010000', 'R010200158000000', 'R010200158010000', 'R010200159000000', 'R010200159010000', 'R010200160000000', 'R010200160010000', 'R010200161000000', 'R010200161010000', 'R010200162000000', 'R010200162010000', 'R010200163000000', 'R010200163010000', 'R010200164000000', 'R010200164010000', 'R010200165000000', 'R010200165010000', 'R010200166000000', 'R010200167000000', 'R010200167010000', 'R010200167020000', 'R010200168000000', 'R010200168010000', 'R010200170030000', 'R010200170040000', 'R010200171000000', 'R010200171010000', 'R010200173000000', 'R010200173010000', 'R010200173020000', 'R010200173030000', 'R010200173040000', 'R010200173050000', 'R010200173060000', 'R010200173070000', 'R010200174000000', 'R010200174010000', 'R010200175000000', 'R010200175010000', 'R010200176000000', 'R010200176010000', 'R010200177000000', 'R010200177010000', 'R010200178000000', 'R010200178010000', 'R010200179000000', 'R010200180000000', 'R010200180010000', 'R010200181000000', 'R010200181010000', 'R010200182000000', 'R010200182010000', 'R010200183000000', 'R010200183010000', 'R010200184000000', 'R010200184010000', 'R010200184020000', 'R010200184030000', 'R010200185010000', 'R010200185020000', 'R010200186000000', 'R010200187000000', 'R010200188000000', 'R010200188010000', 'R010200189000000', 'R010200189010000', 'R010200191000000', 'R010200191010000', 'R010200192000000', 'R010200192010000', 'R010200193000000', 'R010200193010000', 'R010200194000000', 'R010200194010000', 'R010200195000000', 'R010200195010000', 'R010200195020000', 'R010200195030000', 'R010200196000000', 'R010200196010000', 'R010200197000000', 'R010200197010000', 'R010200198000000', 'R010200198010000', 'R010200199000000', 'R010200199010000', 'R010200199020000', 'R010200199030000', 'R010200200000000', 'R010200200010000', 'R010200201000000', 'R010200201010000', 'R010200202000000', 'R010200202010000', 'R010200202020000', 'R010200202030000', 'R010200203000000', 'R010200203010000', 'R010200203020000', 'R010200203030000', 'R010200204000000', 'R010200204010000', 'R010200205000000', 'R010200205010000', 'R010200206000000', 'R010200206010000', 'R010200206020000', 'R010200206030000', 'R010200206040000', 'R010200206050000', 'R010200207000000', 'R010200207010000', 'R010200208000000', 'R010200208010000', 'R010200209000000', 'R010200209010000', 'R010200209020000', 'R010200209030000', 'R010200210000000', 'R010200210010000', 'R010200211000000', 'R010200211010000', 'R010200212000000', 'R010200212010000', 'R010200213000000', 'R010200213010000', 'R010200214000000', 'R010200214010000', 'R010200215000000', 'R010200215010000', 'R010200216000000', 'R010200216010000', 'R010200217000000', 'R010200217010000', 'R010200218000000', 'R010200218010000', 'R010200219000000', 'R010200219010000', 'R010200219020000', 'R010200219030000', 'R010200220000000', 'R010200220010000', 'R010200220020000', 'R010200220030000', 'R010200221000000', 'R010200221010000', 'R010200221020000', 'R010200221030000', 'R010200222000000', 'R010200223000000', 'R010200223010000', 'R010200224000000', 'R010200224010000', 'R010200224020000', 'R010200225000000', 'R010200225010000', 'R010200226000000', 'R010200226010000', 'R010200227000000', 'R010200227010000', 'R010200227020000', 'R010200228000000', 'R010200228010000', 'R010200228020000', 'R010200228030000', 'R010200229000000', 'R010200229010000', 'R010200229020000', 'R010200229030000', 'R010200230000000', 'R010200230010000', 'R010200230020000', 'R010200230030000', 'R010200231000000', 'R010200231010000', 'R010200232000000', 'R010200232010000', 'R010200233000000', 'R010200233010000', 'R010200233020000', 'R010200233030000', 'R010200234000000', 'R010200235000000', 'R010200235010000', 'R010200235020000', 'R010200236000000', 'R010200236010000', 'R010200237000000', 'R010200237010000', 'R010200238000000', 'R010200238010000', 'R010200238020000', 'R010200238030000', 'R010200239000000', 'R010200239010000', 'R010200239030000', 'R010200240000000', 'R010200240010000', 'R010200241000000', 'R010200241010000', 'R010200242000000', 'R010200242010000', 'R010200242020000', 'R010200242030000', 'R010200242040000', 'R010200242050000', 'R010200242060000', 'R010200242070000', 'R010200243000000', 'R010200244000000', 'R010200244010000', 'R010200245000000', 'R010200245010000', 'R010200245020000', 'R010200245030000', 'R010200245040000', 'R010200245050000', 'R010200245060000', 'R010200245070000', 'R010200245080000', 'R010200245090000', 'R010200246000000', 'R010200247000000', 'R010200247010000', 'R010200247020000', 'R010200247030000', 'R010200248000000', 'R010200248010000', 'R010200248020000', 'R010200248030000', 'R010200249000000', 'R010200249010000', 'R010200250000000', 'R010200250010000', 'R010200251000000', 'R010200251010000', 'R010200252000000', 'R010200252010000', 'R010200252020000', 'R010200252030000', 'R010200253000000', 'R010200253010000', 'R010200254000000', 'R010200254010000', 'R010200254020000', 'R010200254030000', 'R010200260000000', 'R010200260010000', 'R010200261000000', 'R010200261010000', 'R010200262000000', 'R010200262010000', 'R010200262020000', 'R010200262030000', 'R010200263000000', 'R010200263010000', 'R010200264000000', 'R010200264010000', 'R010200265000000', 'R010200265010000', 'R010200266000000', 'R010200266020000', 'R010200266030000', 'R010200267000000', 'R010200267010000', 'R010200268000000', 'R010200268010000', 'R010200269000000', 'R010200269010000', 'R010200270000000', 'R010200270010000', 'R010200271000000', 'R010200272000000', 'R010200272010000', 'R010200273000000', 'R010200273010000', 'R010200274000000', 'R010200274010000', 'R010200274020000', 'R010200274030000', 'R010200275000000', 'R010200275010000', 'R010200277000000', 'R010200277010000', 'R010200278000000', 'R010200278010000', 'R010200279000000', 'R010200279010000', 'R010200279020000', 'R010200280000000', 'R010200280010000', 'R010200281000000', 'R010200281010000', 'R010200282000000', 'R010200282010000', 'R010200282020000', 'R010200283000000', 'R010200283010000', 'R010200284000000', 'R010200284010000', 'R010200285000000', 'R010200286000000', 'R010200287000000', 'R010200287010000', 'R010200288000000', 'R010200288010000', 'R010200289000000', 'R010200289010000', 'R010200290000000', 'R010200290010000', 'R010200291000000', 'R010200291010000', 'R010200292010000', 'R010200292020000', 'R010200502000000', 'R010200503000000', 'R010200504000000', 'R010200505000000', 'R010200506000000', 'R010200507000000', 'R010200508000000', 'R010200509000000', 'R010200510000000', 'R010200511000000', 'R010200512000000', 'R010200512010000', 'R010200513000000', 'R010200513010000', 'R010200513020000', 'R010200514000000', 'R010200515000000', 'R010200515010000', 'R010200515020000', 'R010200516000000', 'R010200516010000', 'R010200517000000', 'R010200517010000', 'R010200518000000', 'R010200518010000', 'R010200519000000', 'R010200519010000', 'R010200519020000', 'R010200519030000', 'R010200520000000', 'R010200520010000', 'R010200521000000', 'R010200521010000', 'R010200522000000', 'R010200523000000', 'R010200523010000', 'R010200524000000', 'R010200524010000', 'R010200525000000', 'R010200526000000', 'R010200527000000'])

In [7]:
head_group = trips.groupby(['trip_headsign'])

In [8]:
head_group.groups.keys()

dict_keys(['あいの里教育大駅', 'あいの里４条１丁目', 'あけぼの団地', 'いわみざわ公園', 'おたもい入口', 'おたる水族館', 'かもめヶ丘団地', 'すずらん公園東口', 'ぱるて築港', 'みどり台北２丁目', 'もみじ台団地', 'アンデルセン福祉村３丁目', 'アークス長都店', 'イオンモール札幌平岡', 'イオン岩見沢店', 'イオン札幌苗穂店［貸切］', 'グリーンランドスキー場', 'サッポロビール博物館', 'サッポロビール園', 'サンブライト真駒内', 'トーメン団地', 'バスセンター', 'ヒルズガーデン清田', 'モエレ沼公園', 'レースイリゾート', '三井アウトレットパーク', '三川駅通', '中央中学校南［江別市］', '中沼小学校通', '余市協会病院前', '余市梅川車庫前', '余市紅志高校', '余市駅前', '前田森林公園', '北広島駅', '北１８条駅', '北２４条駅前', '北３４条駅［札幌市］', '北４９条東３丁目', '千歳駅前', '南が丘', '南小樽駅前', '南平岸駅', '南郷１８丁目駅', '南郷７丁目駅', '南４条つくし公園', '厚別の滝', '厚別東５条１丁目', '地下鉄栄町駅', '地下鉄琴似駅前', '地下鉄白石駅', '地下鉄麻生駅', '塩谷海岸', '大曲光４丁目', '大曲工業団地', '大曲［北広島市］', '大森', '大谷地駅', '大麻駅前', '天狗山', '天神町', '奈井江高校', '宮の沢駅', '宮下町［赤平市］', '小樽商大前', '小樽駅前［小樽市］', '屯田６条１２丁目', '山手町４丁目', '山本四区', '岩内ターミナル', '岩見沢ターミナル', '川白', '市営住宅Ｓ２５棟付近［貸切］', '市立病院前［札幌市］', '希望ヶ丘中央', '平岡シュヴァービング', '平岡営業所', '平岸駅', '幾春別町', '恵開拓記念碑前', '手宮', '手稲駅北口', '手稲高校前', '支笏湖', '新さっぽろ駅', '新光２丁目', '新十津川役場', '新千歳空港・国際線', '新南樽市場', '新川営業所', '新日本海フェリー', '新星［千歳市］', '新港中央１丁目', '新道東駅', '日成産業前', '最上町', '月寒中央駅', '月寒中央駅前', '月形駅前', '有明小学校', '望洋台', '朝里川温泉', '本局前', '本町２丁目', '札幌ターミナル', '札幌駅前［札幌市］', '札幌駅北口', '東千歳駐屯地', '東営業所', '東山［上砂川町］', '東栄通［札幌市］', '東部中学校', '柏葉台団地', '栗山駅', '栗沢駅前', '桂岡中央公園［小樽市］', '桜木５丁目', '桜町［小樽市］', '森林公園駅', '機械金属組合会館', '毛陽交流センター', '江別市立病院［江別市］', '江別駅前', '浦臼駅', '清田団地', '済生会小樽病院', '滝の川団地', '滝川駅前', '澄川南小学校前', '澄川駅前', '環状通東駅', '白石営業所', '白陵高校', '真栄', '真栄高校', '真駒内滝野霊園', '真駒内駅', '石狩', '石狩庁舎前', '石狩新港北８線６号', '石狩新港団地', '砂川市立病院', '碧水市街', '神威岬', '福住駅', '福住３条９丁目', '積丹余別', '空沼二股', '空沼登山口', '篠路小学校', '篠路１０条４丁目', '総合体育館前', '緑ヶ丘団地', '羊ヶ丘展望台', '美しが丘３条９丁目', '美唄駅前', '美国', '自由ヶ丘１丁目', '芦別駅前', '花川南５条１丁目', '花畔', '芸術の森センター', '藻岩高校前', '西岡４条１４丁目', '豊畑', '豊畑東', '赤平昭和', '輪厚', '農業研究センター', '道の駅あいろーど厚田', '道の駅あかいがわ', '里塚４条３丁目', '野幌駅北口', '銭函パークゴルフ場', '銭函浄水場', '銭函駅前', '銭函３丁目', '長沼ターミナル', '長都駅東口', '長都駅西口', '駒岡小学校', '高島３丁目', '４番通６丁目［江別市］', 'ＪＲ厚別駅', 'ＪＲ平和駅前', 'ＪＲ白石駅'])

In [9]:
trips[trips['trip_headsign'] == 'バスセンター'].groupby(['route_id']).groups.keys()

dict_keys(['R010200191010000', 'R010200193010000', 'R010200194010000', 'R010200195010000', 'R010200195030000'])

In [10]:
route_1 = 'R010200191010000'
route_2 = 'R010200193010000'

In [11]:
trips_1 = trips[(trips['route_id'] == route_1)]
trips_2 = trips[(trips['route_id'] == route_2)]

In [12]:
trips_1 = trips_1[trips_1['service_id'] == 'S000004']
trips_2 = trips_2[trips_2['service_id'] == 'S000004']

In [13]:
first_trip_1 = trips_1.head(1)
first_trip_2 = trips_2.head(1)

In [14]:
first_trip_1_id = list(first_trip_1['trip_id'])[0]
first_trip_2_id = list(first_trip_2['trip_id'])[0]

In [15]:
trip1_stop_times = stop_times[stop_times['trip_id'] == first_trip_1_id]
trip2_stop_times = stop_times[stop_times['trip_id'] == first_trip_2_id]

In [16]:
trip1_01 = trip1_stop_times[['arrival_time', 'departure_time', 'stop_id', 'stop_sequence']].copy()
trip1_01['next_stop_sequence'] = trip1_01['stop_sequence'] + 1

In [17]:
trip1_02 = pd.merge(trip1_01, trip1_01, left_on='next_stop_sequence', right_on='stop_sequence')
trip1_03 = trip1_02[['departure_time_x', 'stop_id_x', 'stop_id_y', 'stop_sequence_x', 'arrival_time_y']]
trip1_03.columns = ['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time']
trip1_03['time_diff'] = trip1_03['arrival_time'] - trip1_03['departure_time']
trip1_03['arrival_time'] = trip1_03['arrival_time'].dt.time
trip1_03['departure_time'] = trip1_03['departure_time'].dt.time

<ipython-input-17-d45e56ca4409>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip1_03['time_diff'] = trip1_03['arrival_time'] - trip1_03['departure_time']
<ipython-input-17-d45e56ca4409>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip1_03['arrival_time'] = trip1_03['arrival_time'].dt.time
<ipython-input-17-d45e56ca4409>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip1_03['departure_time'] = trip1_03['departure_time'].dt.time

In [18]:
trip1_03

,departure_time,from_stop_id,to_stop_id,stop_sequence,arrival_time,time_diff
0,05:55:00,S010200219700000,S010200219600000,0,05:56:00,0 days 00:01:00
1,05:56:00,S010200219600000,S010200058300000,1,05:57:00,0 days 00:01:00
2,05:57:00,S010200058300000,S010200058200000,2,05:59:00,0 days 00:02:00
3,05:59:00,S010200058200000,S010200219500000,3,06:00:00,0 days 00:01:00
4,06:00:00,S010200219500000,S010200219300000,4,06:02:00,0 days 00:02:00
5,06:02:00,S010200219300000,S010200219200000,5,06:03:00,0 days 00:01:00
6,06:03:00,S010200219200000,S010200219100000,6,06:05:00,0 days 00:02:00
7,06:05:00,S010200219100000,S010200219000000,7,06:07:00,0 days 00:02:00
8,06:07:00,S010200219000000,S010200218900000,8,06:08:00,0 days 00:01:00
9,06:08:00,S010200218900000,S010200218800000,9,06:10:00,0 days 00:02:00
10,06:10:00,S010200218800000,S010200218700000,10,06:11:00,0 days 00:01:00
11,06:11:00,S010200218700000,S010200218600000,11,06:13:00,0 days 00:02:00
12,06:13:00,S010200218600000,S010200218500000,12,06:14:00,0 days 00:01:00
13,06:14:00,S010200218500000,S010200218400000,13,06:15:00,0 days 00:01:00
14,06:15:00,S010200218400000,S010200120500000,14,06:17:00,0 days 00:02:00
15,06:17:00,S010200120500000,S010200120400000,15,06:18:00,0 days 00:01:00
16,06:18:00,S010200120400000,S010200218300000,16,06:20:00,0 days 00:02:00
17,06:20:00,S010200218300000,S010200218200000,17,06:22:00,0 days 00:02:00
18,06:22:00,S010200218200000,S010200218100000,18,06:23:00,0 days 00:01:00
19,06:23:00,S010200218100000,S010200218000000,19,06:25:00,0 days 00:02:00
20,06:25:00,S010200218000000,S010200217900000,20,06:26:00,0 days 00:01:00
21,06:26:00,S010200217900000,S010200166300000,21,06:30:00,0 days 00:04:00

In [19]:
stop_names = stops[['stop_id', 'stop_name']]

In [20]:
trip1_04 = pd.merge(trip1_03, stop_names, left_on='from_stop_id', right_on='stop_id')
trip1_05 = trip1_04[['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_diff', 'stop_name']]
trip1_05.columns = ['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_diff', 'from_stop_name']
trip1_06 = pd.merge(trip1_05, stop_names, left_on='to_stop_id', right_on='stop_id')
trip1_07 = trip1_06[['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_diff', 'from_stop_name', 'stop_name']]
trip1_07.columns = ['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_difff', 'from_stop_name', 'to_stop_name']

In [21]:
trip2_01 = trip2_stop_times[['arrival_time', 'departure_time', 'stop_id', 'stop_sequence']].copy()
trip2_01['next_stop_sequence'] = trip2_01['stop_sequence'] + 1

In [22]:
trip2_02 = pd.merge(trip2_01, trip2_01, left_on='next_stop_sequence', right_on='stop_sequence')
trip2_03 = trip2_02[['departure_time_x', 'stop_id_x', 'stop_id_y', 'stop_sequence_x', 'arrival_time_y']]
trip2_03.columns = ['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time']
trip2_03['time_diff'] = trip2_03['arrival_time'] - trip2_03['departure_time']
trip2_03['arrival_time'] = trip2_03['arrival_time'].dt.time
trip2_03['departure_time'] = trip2_03['departure_time'].dt.time

<ipython-input-22-81e94effef99>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip2_03['time_diff'] = trip2_03['arrival_time'] - trip2_03['departure_time']
<ipython-input-22-81e94effef99>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip2_03['arrival_time'] = trip2_03['arrival_time'].dt.time
<ipython-input-22-81e94effef99>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip2_03['departure_time'] = trip2_03['departure_time'].dt.time

In [23]:
trip2_03

,departure_time,from_stop_id,to_stop_id,stop_sequence,arrival_time,time_diff
0,06:25:00,S010200164500000,S010200164600000,0,06:26:00,0 days 00:01:00
1,06:26:00,S010200164600000,S010200164700000,1,06:27:00,0 days 00:01:00
2,06:27:00,S010200164700000,S010200164800000,2,06:28:00,0 days 00:01:00
3,06:28:00,S010200164800000,S010200164900000,3,06:29:00,0 days 00:01:00
4,06:29:00,S010200164900000,S010200165000000,4,06:30:00,0 days 00:01:00
5,06:30:00,S010200165000000,S010200165100000,5,06:31:00,0 days 00:01:00
6,06:31:00,S010200165100000,S010200220200000,6,06:32:00,0 days 00:01:00
7,06:32:00,S010200220200000,S010200220100000,7,06:33:00,0 days 00:01:00
8,06:33:00,S010200220100000,S010200220000000,8,06:34:00,0 days 00:01:00
9,06:34:00,S010200220000000,S010200219900000,9,06:35:00,0 days 00:01:00
10,06:35:00,S010200219900000,S010200219800000,10,06:36:00,0 days 00:01:00
11,06:36:00,S010200219800000,S010200166100000,11,06:37:00,0 days 00:01:00
12,06:37:00,S010200166100000,S010200166200000,12,06:38:00,0 days 00:01:00
13,06:38:00,S010200166200000,S010200165700000,13,06:39:00,0 days 00:01:00
14,06:39:00,S010200165700000,S010200165800000,14,06:40:00,0 days 00:01:00
15,06:40:00,S010200165800000,S010200165900000,15,06:41:00,0 days 00:01:00
16,06:41:00,S010200165900000,S010200166300000,16,06:44:00,0 days 00:03:00

In [24]:
stop_names = stops[['stop_id', 'stop_name']]

In [25]:
trip2_04 = pd.merge(trip2_03, stop_names, left_on='from_stop_id', right_on='stop_id')
trip2_05 = trip2_04[['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_diff', 'stop_name']]
trip2_05.columns = ['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_diff', 'from_stop_name']
trip2_06 = pd.merge(trip2_05, stop_names, left_on='to_stop_id', right_on='stop_id')
trip2_07 = trip2_06[['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_diff', 'from_stop_name', 'stop_name']]
trip2_07.columns = ['departure_time', 'from_stop_id', 'to_stop_id', 'stop_sequence', 'arrival_time', 'time_difff', 'from_stop_name', 'to_stop_name']

In [26]:
trip1_07

,departure_time,from_stop_id,to_stop_id,stop_sequence,arrival_time,time_difff,from_stop_name,to_stop_name
0,05:55:00,S010200219700000,S010200219600000,0,05:56:00,0 days 00:01:00,北４９条東３丁目,北４９条東４丁目
1,05:56:00,S010200219600000,S010200058300000,1,05:57:00,0 days 00:01:00,北４９条東４丁目,北４９条東８丁目
2,05:57:00,S010200058300000,S010200058200000,2,05:59:00,0 days 00:02:00,北４９条東８丁目,北４５条東８丁目
3,05:59:00,S010200058200000,S010200219500000,3,06:00:00,0 days 00:01:00,北４５条東８丁目,北４４条東８丁目
4,06:00:00,S010200219500000,S010200219300000,4,06:02:00,0 days 00:02:00,北４４条東８丁目,北４１条東８丁目
5,06:02:00,S010200219300000,S010200219200000,5,06:03:00,0 days 00:01:00,北４１条東８丁目,北３７条東８丁目
6,06:03:00,S010200219200000,S010200219100000,6,06:05:00,0 days 00:02:00,北３７条東８丁目,北３３条東８丁目
7,06:05:00,S010200219100000,S010200219000000,7,06:07:00,0 days 00:02:00,北３３条東８丁目,北３０条東８丁目
8,06:07:00,S010200219000000,S010200218900000,8,06:08:00,0 days 00:01:00,北３０条東８丁目,北２６条東８丁目
9,06:08:00,S010200218900000,S010200218800000,9,06:10:00,0 days 00:02:00,北２６条東８丁目,北２３条東８丁目
10,06:10:00,S010200218800000,S010200218700000,10,06:11:00,0 days 00:01:00,北２３条東８丁目,北２１条東８丁目
11,06:11:00,S010200218700000,S010200218600000,11,06:13:00,0 days 00:02:00,北２１条東８丁目,北１９条東８丁目
12,06:13:00,S010200218600000,S010200218500000,12,06:14:00,0 days 00:01:00,北１９条東８丁目,北１８条東８丁目
13,06:14:00,S010200218500000,S010200218400000,13,06:15:00,0 days 00:01:00,北１８条東８丁目,大谷学園前
14,06:15:00,S010200218400000,S010200120500000,14,06:17:00,0 days 00:02:00,大谷学園前,東区役所前駅
15,06:17:00,S010200120500000,S010200120400000,15,06:18:00,0 days 00:01:00,東区役所前駅,東保健センター
16,06:18:00,S010200120400000,S010200218300000,16,06:20:00,0 days 00:02:00,東保健センター,北８条東７丁目
17,06:20:00,S010200218300000,S010200218200000,17,06:22:00,0 days 00:02:00,北８条東７丁目,北８条東５丁目
18,06:22:00,S010200218200000,S010200218100000,18,06:23:00,0 days 00:01:00,北８条東５丁目,北８条東３丁目
19,06:23:00,S010200218100000,S010200218000000,19,06:25:00,0 days 00:02:00,北８条東３丁目,北４条東３丁目
20,06:25:00,S010200218000000,S010200217900000,20,06:26:00,0 days 00:01:00,北４条東３丁目,北２条東３丁目
21,06:26:00,S010200217900000,S010200166300000,21,06:30:00,0 days 00:04:00,北２条東３丁目,バスセンター

In [27]:
trip2_07

,departure_time,from_stop_id,to_stop_id,stop_sequence,arrival_time,time_difff,from_stop_name,to_stop_name
0,06:25:00,S010200164500000,S010200164600000,0,06:26:00,0 days 00:01:00,東営業所,イオンモール札幌苗穂前
1,06:26:00,S010200164600000,S010200164700000,1,06:27:00,0 days 00:01:00,イオンモール札幌苗穂前,本町２条９丁目
2,06:27:00,S010200164700000,S010200164800000,2,06:28:00,0 days 00:01:00,本町２条９丁目,本町２条８丁目
3,06:28:00,S010200164800000,S010200164900000,3,06:29:00,0 days 00:01:00,本町２条８丁目,東栄中学校
4,06:29:00,S010200164900000,S010200165000000,4,06:30:00,0 days 00:01:00,東栄中学校,本町１条５丁目
5,06:30:00,S010200165000000,S010200165100000,5,06:31:00,0 days 00:01:00,本町１条５丁目,本町１条４丁目
6,06:31:00,S010200165100000,S010200220200000,6,06:32:00,0 days 00:01:00,本町１条４丁目,北６条東１９丁目
7,06:32:00,S010200220200000,S010200220100000,7,06:33:00,0 days 00:01:00,北６条東１９丁目,北８条東１７丁目
8,06:33:00,S010200220100000,S010200220000000,8,06:34:00,0 days 00:01:00,北８条東１７丁目,苗穂工場
9,06:34:00,S010200220000000,S010200219900000,9,06:35:00,0 days 00:01:00,苗穂工場,北８条東１２丁目
10,06:35:00,S010200219900000,S010200219800000,10,06:36:00,0 days 00:01:00,北８条東１２丁目,アリオ札幌
11,06:36:00,S010200219800000,S010200166100000,11,06:37:00,0 days 00:01:00,アリオ札幌,北８条東８丁目
12,06:37:00,S010200166100000,S010200166200000,12,06:38:00,0 days 00:01:00,北８条東８丁目,北６条東７丁目
13,06:38:00,S010200166200000,S010200165700000,13,06:39:00,0 days 00:01:00,北６条東７丁目,北３条東７丁目
14,06:39:00,S010200165700000,S010200165800000,14,06:40:00,0 days 00:01:00,北３条東７丁目,サッポロファクトリー
15,06:40:00,S010200165800000,S010200165900000,15,06:41:00,0 days 00:01:00,サッポロファクトリー,北３条東３丁目
16,06:41:00,S010200165900000,S010200166300000,16,06:44:00,0 days 00:03:00,北３条東３丁目,バスセンター